
* {
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    font-family: Montserrat Light;
  }

.logo {
    vertical-align: middle;
    border-style: none;
    width: 110%;
    height: auto;
    max-width: 100px;
}

.topnav {
    overflow: hidden;
    background-color: #787276;
}

a {
float: right;
text-align: center;
display:inherit;
font-size: 1.5em;
text-decoration:none;
color:#ebeaeb;
padding: 32px 16px 32px 16px;
letter-spacing: .5px;
}

a:hover {
    text-decoration: underline;
}

/* Hero Styles */
.hero {
    height: 800px;
    width: 100%;
    background-image: url("images/MInimalist Style Lets Start Your Business Blog Banner (1).png");
    background-size: cover;
    background-position: center;
}

/*Services Styles*/
.serv-full {
    background-color: #ebeaeb;
    color:#3e2d29;
    padding-top: 80px;
    padding-bottom: 80px;
}

.serv-mid {
    text-align: center;
}

.serv-mid h1 {
    font-weight: bold;
    letter-spacing: 1px;
}

.serv- {
    float: left;
    width: 33.33%;
    padding: 5px;
    text-align: center;
  }
  
  .services::after {
    content: "";
    clear: both;
    display: table;
  }

  /*Projects Styles*/
  .proj-full {
      background-color: #787276;
      color:#ebeaeb;
      padding-top: 80px;
      padding-bottom: 80px;
  }

  .projects {
      display: flex;
      justify-content: space-around

  }

.proj-mid {
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
}

div.gallery {
    margin: 5px;
    border: 1px solid #ccc;
    display: flex;
    flex-direction: column;
  }
  
  div.gallery:hover {
    border: 1px solid #3e2d29;
  }

  .gallery a {
      padding: 0;
      margin: 0;

  }
  
  .gallery a img {
    width: 100%;
    height: auto;
    padding:0px;
  }
  
  .desc {
    padding: 15px;
    text-align: center;
  }

/*About Me Section*/

.aboutme {
    display: flex;
    background-color: #ebeaeb;
    flex-direction: row;
    text-align: right;
    padding-top:  60px;
    padding-bottom: 60px;
}

.aboutme h1 {
    letter-spacing: 1px;
    text-align:end
}

.aboutme img {
    float: left;
}